.padre-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Mooli', sans-serif;
}

.card{
    background-color: darkcyan;
    width: 250px;
    height: 350px;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: -1;
    img{
        width: 200px;
        margin: 0;
    }
    p{
        margin: 15px;
    }
}

h1,h2,h3,h4{
    font-family: 'Mooli', sans-serif;
}

.descuento{
    position: absolute;
    top: 0;
    right: 10px;
    background-color: azure;
}

body {
    background-color: antiquewhite;
}

.galeria{
    width: 350px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    justify-items: center;
}

.banner{
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: burlywood;
    text-align: left;
}

footer{
    background-color: black;
    color: antiquewhite;
    text-align: left;
    padding: 30px;
    font-family: 'Mooli', sans-serif;
}

img{
    max-width: 180px;
}

.grid-container{
    display: grid;
    grid-template-columns: 300px;
}

.miestilo{
    text-align: center;
    font-family: 'Mooli', sans-serif;
}

@media (max-width: 480px){
    .miestilo{
        text-align: center;
    }
}

@media(min-width:768px) and (max-width:700px){
    .body{
        text-align: center;
    }
}

.border{
    border: 5px solid black;
}

.contenedor-padre{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: cadetblue;
    color: antiquewhite;
    font-family: 'Mooli', sans-serif;
    img{
        width: 450px;
    }
}

.reverse{
    flex-direction: row-reverse;
    .contenedor-textos{
        text-align: right;
    }
}

.container{
    display: block;
    background-color: darkcyan;
    justify-content: space-around;
    align-items: baseline;
    opacity: .9;
    position: sticky;
    top: 0;
    padding: 0%;
    font-family: 'Mooli', sans-serif;
    width: 100%;
    color: white;
    .nav-link{
        color: white;
    }
}

